<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="EN">

<head>
    <meta charset="utf-8"/>
    <title>SuperShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="media">
    <!--/*@thymesVar id="product" type="ru.geekbrains.shop.persistence.entities.Product"*/-->
    <img class="mr-3" th:src="@{'/products/images/' + ${product.id}}" alt="" width="150px" height="150px"/>
    <div class="media-body">
        <h5 class="mt-0"><tr th:text="${product.title}"></h5>
        <div class="media-body"  >
            <h5 class="mt-0">Вналичии: </h5>
            <h5 class="mt-0" th:text="${product.available}"></h5>
        </div>

        <div class="media-body"  >
            <h5 class="mt-0">Стоимость: </h5>
            <h5 class="mt-0" th:text="${product.price}"></h5>
        </div>
    </div>
</div>
<br>
<a th:href="@{/}">Главная страница</a><br>
<br>
<a th:href="@{/products/}">Страница товаров</a>
</body>
</html>